body {
    font-family: Arial;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: white;
    padding: 30px;
    width: 400px;
    border: 5px solid #7ea1c4;
    text-align: center;
}

.hidden {
    display: none;
}

.button {
    background: #a9bdd6;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
}

input, select {
    padding: 10px;
    width: 80%;
    margin: 5px;
}

.duration-group {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 15px 0;
}

.duration-group label {
    font-size: 16px;
}

.climate-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin: 15px 0;
}